.sliderContainer {
    position: relative;
}

.img-responsive {
    object-fit: cover;
    height: 84vh;
    width: 100%;
}

.prevButtonSlider {
    position: absolute;
    margin-left: 5rem;    
    z-index: 1; 
    align-self: center; 
}

.nextButtonSlider {
    position: absolute;
    margin-right: 5rem;
    z-index: 1; 
    align-self: center; 
}

.dotSlider {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #808080;
    border-radius: 50%;
}

:global(li.slick-active) div{
    background-color: white;
}

.carouselImgInfo {
    position: absolute;
    margin-top: -25rem;
    padding-left: 6.1rem;
    line-height: 1.6;
    z-index: 2;
}

.carouselImgInfo h2 {
    font-size: 6.2rem;
    color: #e6e6e6;
}

.carouselImgInfo h3, 
.carouselImgInfo p {
    font-size: 1.3rem;
    color: #e6e6e6;
}

.carouselImgInfo button {
    font-family: 'AtlasGroteskMedium';
    cursor: pointer;
    padding: 1.6rem 3rem;
    margin-top: 2.4rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #2B292F;
    color: #e6e6e6;
    transition: all 0.3s;
}

.carouselImgInfo button:hover {
    box-shadow: 0 0 0 0.2rem rgb(117, 62, 239);
    background-color: #1a1a1a;
}

.bottomGradient {
    width: 100vw;
    height: 30vh;
    position: absolute;
    margin-top: -30vh;
    z-index: 1;
    background: linear-gradient(0deg,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.9) 20%,
        hsla(0, 0%, 0%, 0.8) 30%,
        hsla(0, 0%, 0%, 0.7) 40%,
        hsla(0, 0%, 0%, 0.6) 50%,
        hsla(0, 0%, 0%, 0.5) 60%,
        hsla(0, 0%, 0%, 0.4) 70%,
        hsla(0, 0%, 0%, 0.3) 80%,
        hsla(0, 0%, 0%, 0.2) 90%,
        hsla(0, 0%, 0%, 0) 100%
    );
}





