@font-face {
  font-family: 'AtlasGroteskLight';
  src: url('./fonts/AtlasGrotesk-Light.otf');
  font-size: normal;
}
@font-face {
  font-family: 'AtlasGroteskMedium';
  src: url('./fonts/AtlasGrotesk-Medium.otf');
  font-size: medium;
}
@font-face {
  font-family: 'AtlasGroteskBold';
  src: url('./fonts/AtlasGrotesk-Black.otf');
  font-size: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  min-height: 0;
  min-width: 0;
}

html {  
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  font-family: 'AtlasGroteskMedium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666564;  
  overflow-x: hidden;
  scroll-behavior: smooth;

  

  /* Prevent user from copying data */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}