.overlayMarginTop {
    margin-top: -15rem;
}

.wideCarousel{    
    padding: 0 5.6rem;
    margin-bottom: 2rem;
    font-family: 'AtlasGrotesk';
}

.wideCarousel h2 {
    font-size: 1.8rem;
    color: #e6e6e6;
    margin-bottom: 1rem;
    margin-left: 0.7rem;
}

.img-container {
    padding: 0.7rem;
}

.img-carousel {
    max-width:100%;    
    margin-top: 1rem;
    opacity: 0.5;
    transition: all 0.3s;
}

.img-carousel-height {
    height: 28.5rem;
}

.img-carousel:hover {
    cursor: pointer;
    opacity: 1;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 0.2rem #1a1a1a,
    0 0 0 0.4rem rgb(117, 62, 239);
}


